<div class="d-flex align-items-center">
    <h1>掲示板一覧</h1>
    <div class="ml-auto boards__linkbox">
        <a class="btn btn-outline-dark">新規作成</a>
    </div>
</div>
<table class="table table-hover boards__table">
    <thead class="htead-dark">
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>作成者</th>
        <th>作成日時</th>
        <th>更新日時</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>雑談掲示板</th>
            <th>Taro</th>
            <th>2018年4月1日</th>
            <th>2018年4月15日</th>
        </tr>
        <tr>
            <td>2</td>
            <td>雑談掲示板2</td>
            <td>Ken</td>
            <td>2019年6月1日</td>
            <td>2019年7月15日</td>
        </tr>
    </tbody>
</table>